#feedback {
    background-color: antiquewhite;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: .5em;
    /* make this element invisible until we are ready for it */
    display: none;      
}
.moveDown {
    margin-top: 3em;
}

form {
    margin-top: 70px;
    display: flex;
    justify-content: center;
}
ul {
    list-style-type: none;
}

form input, textarea {
    width: 100%;
    padding: 5px 10px;
    margin-bottom: 20px;
}
form button {
    padding: 5px 40px;
    font-size: 1rem;
}