/* if you are using any Google fonts change the font names below to your fonts. 
Any spaces in your font name should be replaced with a +. 
Fonts are separated by a | */
@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans:ital@0;1&family=Nunito:wght@200&family=Roboto:wght@300&display=swap');

:root {
    /* change the values below to your colors from your palette */
    --primary-color: #1E395D;
    --secondary-color: #545454;
    --accent1-color: #A4A4A4;
    --accent2-color: white;

    /* change the values below to your chosen font(s) */
    --heading-font: 'Inclusive Sans';
    --paragraph-font: 'Inclusive Sans', 'Roboto', 'Nunito', Helvetica, sans-serif;

    /* these colors below should be chosen from among your palette colors above */
    --headline-color-on-white: #1E395D;
    /* headlines on a white background */
    --headline-color-on-color: white;
    /* headlines on a colored background */
    --paragraph-color-on-white: #1E395D;
    /* paragraph text on a white background */
    --paragraph-color-on-color: white;
    /* paragraph text on a colored background */
    --paragraph-background-color: #1E395D;
    --nav-link-color: #1E395D;
    --nav-background-color: #dcdcdc;
    --nav-hover-link-color: white;
    --nav-hover-background-color: #1E395D;
}

* {
    font-family: var(--paragraph-font);
}

p{
    font-size: 18px;
}
h1, h2, h3, h4 {
    color: var(--paragraph-background-color);
}
h1.title {
    font-size: 2.4em;
}
.btn-primary
{
    width: 230px;
    height: 40px;
    padding: 8px 20px;
    border-radius: 4px;
    color: var(--nav-hover-link-color);
    background: var(--headline-color-on-white);
    border: none;
    cursor: pointer;
    display: grid;
    align-items: center;
    text-decoration: none;
    justify-items: center;
}
.btn-primary:hover
{
    background-color: var(--nav-background-color);
    color: var(--headline-color-on-white);
    transition: .3s;
}

body {
    margin: 0;
}

header {
    background-color: var(--nav-background-color);
    margin-bottom: 70px;
}

header .content, footer .content {
    height: 120px;
    display: flex;
    width: 95%;
    margin: 0 auto;
    justify-content: flex-start;
    align-items: center;
}

header img {
    height: 80px;
}

header nav,
header nav ul {
    display: flex;
    align-items: center;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    text-decoration: none;
    margin-right: 60px;
}
header nav ul li a{
    text-decoration: none;
}

#content
{
    min-height: 80vh;
    width: 80%;
    margin: 0 auto;
}

/* Main */
#content #major{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;

    margin-bottom: 100px;
}
#major h1 {
    font-size: 2.4em;
}

#major .content{
    max-width: 600px;
    padding-right: 60px;
}
#major .content-image img{
    box-shadow: 9px 2px 20px 0px rgba(0,0,0, 0.2)
}

/* information */


#information {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 40px;
    margin-bottom: 80px;
}

#information #image-1 {
    background-size: cover;
    background-image: url('../images/brooke-cagle-g1Kr4Ozfoac-unsplash.jpg');
    background-position-y: 30%;
}
#information #image-2 {
    background-size: cover;
    background-image: url('../images/aBLcRE3g.jpg');
}

#information #image-3 {
    background-size: cover;
    background-position-y: 84%;
    background-image: url('../images/homeimage.jpg');
}

#information article:nth-child(2)
{
    margin: 0 20px;
}
#information article {
    min-width: 400px;
    display: grid;
    grid-template-rows: 200px 1fr 40px;
    justify-items: center;
}
#information article p{
    padding: 10px 10px;
}
#information article button{
    padding: 10px 10px;
}
#information figure {
    margin: 0;
} 
#information figure{
    width: 100%;
    height: 200px;
}


/* Slide */

#slide {
    background-image: url('../images/mission.jpg');
    background-size: cover;
    background-position-y: 70%;
    height: 500px;
}
#slide div {
    background: #1e395dbf;
    height: 100%;
    width: 100%;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}
#slide div h1 {
    color: #fff;
    padding: 40px;
    width: 70%;
    font-size: 1.9em;
}
#slide div h1>strong
{
    color: #2ce93f;
}

/* excellence */

#excellence {
    margin: 70px 0px;
}
#excellence h1 {
    width: 55%;
}
#excellence p {
    margin: 20px 0;
}

/* Footer */
footer {
    background-color: var(--nav-background-color);
}

footer img {
    height: 80px;
}
footer .links{
    width: 100%;
}
footer nav,
footer nav ul {
    display: flex;
    align-items: center;
}

footer nav ul {
    list-style-type: none;
}

footer nav ul li {
    text-decoration: none;
    margin-right: 60px;
}
footer nav ul li a{
    text-decoration: none;
}

footer .copy-write {
    text-align: center;
}
